/build
/.cproject
/.project
/.settings
*.dll
*.exe
*.exp
*.ilk
*.lib
*.manifest
*.metagen
*.ncb
*.opensdf
*.pdb
*.suo
*.user

*~

/support/private

/driver/p8usb-cec.cat
/bootloader-driver/p8_usb_dfu.cat

aclocal.m4
autom4te.cache
config.guess
config.log
config.status
config.sub
depcomp
configure
install-sh
INSTALL
libtool
ltmain.sh
Makefile
Makefile.in
missing
config.h
config.h.in
config.h.in~
stamp-h1

include/boost

project/bin
project/Debug/
project/*.exe
project/Release/
project/ipch/
project/libcec.sdf
project/obj
project/Properties

project/x64

project/RPi/toolchain
project/RPi/firmware
project/RPi/deps

src/lib/.deps
src/lib/.libs
src/lib/*.a
src/lib/*.la
src/lib/*.lo
src/lib/*.o
src/lib/*.P
src/lib/libcec.pc
src/lib/Makefile
src/lib/Makefile.in

src/lib/util/*.d
src/lib/util/*.o
src/lib/util/*.a
src/lib/util/*.P

src/testclient/.deps
src/testclient/.libs
src/testclient/cec-client
src/testclient/*.o

src/CecSharpTester/bin
src/CecSharpTester/obj

src/cec-config-gui/obj
src/cec-config/cec-config
src/cec-config/*.o
src/cec-config/.deps

src/libcec-wmc/bin
src/libcec-wmc/obj

/dpinst-x86.exe
/dpinst-amd64.exe

/documentation
