.project
.cproject
*.ilk
*.manifest
*.metagen
*.pdb

aclocal.m4
autom4te.cache
config.guess
config.log
config.status
config.sub
depcomp
configure
install-sh
INSTALL
libtool
ltmain.sh
Makefile
Makefile.in
missing

libcec.dll
libcec.exp
libcec.ilk
libcec.lib
libcec.pdb
cec-client.exe
cec-client.ilk
cec-client.pdb
CecSharpClient.exe
CecSharpClient.pdb
CecSharpClient.vshost.exe
CecSharpClient.vshost.exe.manifest

LibCecSharp.dll
LibCecSharp.Net2.dll
LibCecSharp.ilk
LibCecSharp.pdb

build

include/boost

project/bin
project/Debug/
project/*.exe
project/Release/
project/ipch/
project/libcec.sdf
project/*.ncb
project/obj
project/*.opensdf
project/Properties
project/*.suo
project/*.user

src/lib/.deps
src/lib/.libs
src/lib/*.a
src/lib/*.la
src/lib/*.lo
src/lib/*.o
src/lib/*.P
src/lib/libcec.pc
src/lib/Makefile
src/lib/Makefile.in

src/lib/util/*.d
src/lib/util/*.o
src/lib/util/*.a
src/lib/util/*.P

src/testclient/.deps
src/testclient/.libs
src/testclient/cec-client
src/testclient/*.o

src/CecSharpTester/obj

/dpinst-x86.exe
/dpinst-amd64.exe
