Source: libcec
Section: libs
Priority: optional
Maintainer: Lars Op den Kamp <lars.opdenkamp@pulse-eight.com>
Build-Depends: debhelper (>= 7),
 pkg-config,
 libudev-dev,
 libp8-platform-dev,
 python-dev,
 cmake (>= 2.8.9),
 swig,
 libxrandr-dev,
 x11proto-core-dev,
 libncurses5-dev
Standards-Version: 3.8.4
Homepage: http://libcec.pulse-eight.com/
Vcs-Git: git://anonscm.debian.org/collab-maint/libcec.git
Vcs-Browser: http://anonscm.debian.org/gitweb/?p=collab-maint/libcec.git

Package: libcec4-dev
Architecture: any
Section: libdevel
Depends: libcec4 (= ${binary:Version}),
         ${misc:Depends}
Description: libCEC communication Library (development files)
 This library provides support for the Pulse-Eight USB-CEC adapter.
 .
 This package provides the necessary files needed for development.

Package: libcec4
Architecture: any
Multi-Arch: same
Pre-Depends: ${misc:Pre-Depends}
Depends: ${shlibs:Depends}, ${misc:Depends}
Description: libCEC communication Library (shared library)
 This library provides support for the Pulse-Eight USB-CEC adapter.
 .
 This package provides the shared library.

Package: cec-utils
Architecture: any
Section: utils
Depends: libcec4 (= ${binary:Version}),
         ${shlibs:Depends},
         ${misc:Depends}
Description: libCEC communication Library (utility programs)
 This library provides support for the Pulse-Eight USB-CEC adapter.
 .
 This package provides the CEC utility programs.

Package: python-libcec
Architecture: any
Section: python
Pre-Depends: ${misc:Pre-Depends}
Depends: libcec4 (= ${binary:Version})
Description: Python bindings for libCEC
 This library provides Python bindings for libCEC.
 .
 This package provides Python bindings for libCEC.

Package: libcec
Architecture: any
Depends: ${shlibs:Depends}, ${misc:Depends}, libcec4 (= ${binary:Version})
Description: Meta package libCEC.

