Source: libcec
Section: video
Priority: extra
Maintainer: Lars Op den Kamp <info@pulse-eight.com>
Build-Depends: debhelper (>= 7), libudev-dev, mime-support,
 locales, gawk, autotools-dev, autoconf, automake,
Standards-Version: 3.8.3
Homepage: http://www.pulse-eight.net/

Package: libcec
Architecture: any
Depends: ${shlibs:Depends}, ${misc:Depends}
Description: CEC interface library
 CEC interface library.
